<hr id="footer_separator" />
<p style="font-size:0.9em;">
  <div id="page_footer">
    {{#job_url}}
    This page was built by the jenkins job <a href="{{job_url}}"> {{job_name}}</a>
    which is configured via this <a href="https://salsa.debian.org/qa/jenkins.debian.net">git repo</a>.
    {{/job_url}}
    There is more information
    <a href="{{jenkins_url}}/userContent/about.html">about jenkins.debian.net</a>
    and about <a href="https://wiki.debian.org/ReproducibleBuilds"> reproducible builds of Debian</a>
    available elsewhere.
    <br /> Please send technical feedback about this setup to <a href="mailto:qa-jenkins-dev@lists.alioth.debian.org">the Debian jenkins development list</a>,
    or as a <a href="https://www.debian.org/Bugs/Reporting">bug report against the <tt>jenkins.debian.org</tt> package</a>.
    Feedback about specific job results should go to their respective lists and/or the BTS.
    <br />
    The code of <a href="https://salsa.debian.org/qa/jenkins.debian.net">jenkins.debian.net</a>
    is mostly GPL-2 licensed. The weather icons are public domain and were taken from the
    <a href="http://tango.freedesktop.org/Tango_Icon_Library" target=_blank> Tango Icon Library</a>.
    Copyright 2014-2024 <a href="mailto:holger@layer-acht.org">Holger Levsen</a>
    and <a href="https://jenkins.debian.net/userContent/thanks.html">many others</a>.
    <br /> Last update: {{date}}
  </div>
</p>
